# Node.js dependencies
node_modules/
package-lock.json
yarn.lock

# Build artifacts
dist/
build/
.next/

# Local environment files
.env.local
.env.development

# Cache
.cache/
.expo/
.expo-shared/
ios/build/
android/build/

# IDE settings
.vscode/
.idea/

# System files
*.log
.DS_Store
Thumbs.db

# Miscellaneous
*.temp
*.tmp
coverage/
